[Unit]
Description=Run eeepc network fallback route maintainer

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
AccuracySec=5s
Unit=eeepc-network-fallback.service

[Install]
WantedBy=timers.target
