[Unit]
Description=Run eeepc strong reflection every 6 hours

[Timer]
OnBootSec=12min
OnUnitActiveSec=6h
RandomizedDelaySec=10min
Persistent=true
Unit=eeepc-strong-reflection.service

[Install]
WantedBy=timers.target
